{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class = 'container'>
        <br>
        <h1>Sign in Now</h1>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <form action="/login" method="POST" role="form">

                    {% for field in form.errors %}
                        <div class="alert alert-error">
                            <strong>Error!</strong> {{ field }} {{ form.errors[field] }}
                        </div>
                    {% endfor %}

                    {{ wtf.quick_form(form) }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}
