{% extends 'base.html' %}

{% block content %}
    <div class = 'container'>
        <br>
        <h1>Register Now</h1>
        <br>
        <div class="row">
            <fieldset>
                <legend>Register From</legend>
                <div class="col-md-5">

                    {{ form.username.label }}<br>
                    {{ form.username }}<br>

                    {{ form.password.label }} <br>
                    {{ form.password }}<br>

                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password }}<br>

                    {{ form.email.label }}<br>
                    {{ form.email }}
                    <br>

                    {{ form.submit }}

                </div>
            </fieldset>

        </div>
    </div>
{% endblock %}